<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kiểm tra</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
    <th:block th:replace="layout :: header"></th:block>
    <div class="container">
        <div class="navbar navbar-light bg-light">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" href="#">   
                    TRANG CHỦ WEBSITE QUẢN LÝ NHÂN VIÊN - KẾT NỐI CSDL
                </a>
            </div>
        </div>
    </div>
    <th:block th:replace="layout :: footer"></th:block> 
</body>
</html>